.Service_wrapper {
    background-color: rgb(245, 245, 220);
}

.Service_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.Service_card {
    padding: 35px 25px;
    border: 1px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(197, 190, 171, 0.25);
    transition: 0.3s;
}

.Service_card:hover {
    border-color: #1f3623;
}

.Service_card i {
    font-size: 35px;
    color: #1f3623;
    margin-bottom: 5px;
}

.Service_card:hover i {
    animation: Anim_shake 1s forwards linear;
}

.Service_card h3 {
    font-size: 20px;
    color: #1f3623;
    margin-bottom: 10px;
}

.Service_card ul {
    list-style: none;
    padding-left: 0;
}

.Service_card ul li {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #8b5c4b;
    font-weight: 600;
    margin-top: 5px;
    position: relative;
    padding-left: 15px;
}

.Service_card ul li::before {
    content: "-";
    position: absolute;
    left: 0;
    color: #8b5c4b;
}

@keyframes Anim_shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

@media screen and (max-width: 1200px) {
    .Service_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .Service_cards {
        grid-template-columns: repeat(1, 1fr);
    }
}