.Service_wrapper {
    background-color: rgb(245, 245, 220);
}

.Service_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.Service_cards .Service_card {
    padding: 35px 25px;
    border: 1px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(197, 190, 171, 0.25);
    transition: .3s;
}

.Service_cards .Service_card:hover {
    border-color: #1f3623;
}

.Service_cards .Service_card i {
    font-size: 35px;
    color: #1f3623;
    margin-bottom: 5px;
}

.Service_cards .Service_card:hover i {
    animation: Anim_shake 1s forwards linear;
}

.Service_cards .Service_card h3 {
    font-size: 20px;
    color: #1f3623;
    margin-bottom: 10px;
}

.Service_cards .Service_card p {
    font-size: 14px;
    margin-top: 3px;
    font-family: 'poppins';
    color: #8b5c4b;
    font-weight: 600;
}

@keyframes Anim_shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

@media screen and (max-width:1200px) {
    .Service_cards {
        grid-template-columns: repeat(2, 1fr);

    }

}

@media screen and (max-width:768px) {
    .Service_cards {
        grid-template-columns: repeat(1, 1fr);

    }

}